img {
  width: 40px;
  height: auto;
  margin: 7px;
}

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #eaf0f6;
}   

body {
  padding: 20px;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#20b8cd;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 0 10px 0 10px;
  font-family: sans-serif;
}

/* CSS */
.button-74 {
  background-color: #fff;
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #44d2e5;
}

.button-74:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .button-74 {
    min-width: 120px;
    padding: 0 25px;
  }
}

textarea{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.value-range > span{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.c1, .c2 {
  font-family:-apple-system, system-ui, Segoe UI, Helvetica, Apple Color Emoji, Arial, sans-serif, Segoe UI Emoji, Segoe UI Symbol;
}

.header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  font-family:sans-serif;
}

@media (max-width: 600px) {
  .header-logo{
    font-size: 16px;
    font-weight: 400;
    font-family:sans-serif;
  }
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 600px;
  margin: 10px auto;
}

main > h2,
h3 {
  text-align: center;
  margin: 5px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  margin-bottom: 10px;
}

.content-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body > main > div > form > div.content-area > p{
  margin: 0;
}

textarea {
  width: 100%;
  margin: 10px 0 10px 0;
  padding: 10px;
  height: 138px;
  box-sizing: border-box;
  border-radius: 10px;
}

.value-range > span{
  padding: 7.5px;
}

footer{
  text-decoration: none;
  text-align: center;
}