<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor Chatbot</title>
    <link rel="icon" type="image/x-icon" href="/assets/images/header_logo.png">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>

<body>
    <header>
        <div class="header-logo">
            <img src="/assets/images/header_logo.png">
            <div>The Professor</div>
        </div>
    </header>
    <main>
        <h3>Layman to Einstein-level explanation at fingertips!</h3>
        <div class="container">
            <form action="/submit" method="post">
                <textarea placeholder="Ask the professor..." name="query"></textarea>
                <div class="action-buttons">
                    <button type="submit" class="button-74">Explain</button>

                    <div class="slider">
                        <input type="range" min="1" max="5" value="3" slider_value="{{ slider_value | default(3) }}" id="modeSlider" name="slider">
                        <div class="value-range">
                            <span>1</span>
                            <span>2</span>
                            <span>3</span>
                            <span>4</span>
                            <span>5</span>
                        </div>
                    </div>
                </div>
                <div class="content-area">
                    <p class="c1">Explanation here: </p>
                    <textarea name="explanation" placeholder="Explanation here"> {{explanation}}</textarea>
                    <p class="c2">with an example here: </p>
                    <textarea name="example" placeholder="with an example here"> {{example}} </textarea>
                </div>
            </form>
        </div>
    </main>

</body>
<footer>
    <p>Developed by: <a href="https://github.com/g-wtham/the-professor-chatbot">Gowtham💙</a></p>
</footer>

</html>